/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* body style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/*--------------------------
header style
----------------------------*/

header{
    background-color: rgb(41, 41, 255);
    height: 677px;
}
.section-text,.button-text,.section-icon {
    color: white;
    padding-left: 8px;
}
.section-text{
    font-size: 64px;
    font-weight: 700;
}
.section-title{
    position: relative;
    right: 132px;
}

.button-text{
    size: 16px;
}
.watch-live{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 44px;
    background-color:#E02C6D;
}
.watch-live:hover{
    transform: translate(12px) scale(1.2);
    transition: transform 0.5s ;
}
.banner-img img{
    width: 388px;
    height: 428px;
}
.banner-img{
    position: relative;
    top: 135px;
    left: 100px;
}

/*--------------------------
highlights players style
----------------------------*/
.container{
    display: flex;
    justify-content: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 45px;
    
}
.player{
    width: 330px;
    height: 474px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.player-img img{
    width: 300px;
    height: 256px;
}

/* ---------------------------
messi with ball style start
-----------------------------*/
.container{
    padding-top: 70px;
}
.flexible-container{
    margin-left: 380px;
    margin-top: 165px;
}
.copa-info h1{
    font-size: 48px;
    font-weight: 700;
}
.copa-america{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    grid-column-gap: 100px;
}
.messi-img{
    overflow: hidden;
}
.messi-img img{
    width: 567px;
    height: 427px;
    border-radius: 14px;
    
}
.messi-img img:hover{
    transform:   scale(1.5);
    transition: transform 2s linear;
}
/* messi with ball style end */
/* vote player style */
.vote{
    text-align: center;
    padding-top: 30px;
}
.input{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.vote h3{
    color: blue;
}


/* ----------------------
icon container style
------------------------*/

.icon-container{
    display: grid;
    justify-content: center;
    padding-top: 158px;
}
.social-media-icon{
    padding-left: 150px;
    display: grid;
    grid-template-columns: repeat(4,0.15fr);
}
.fab{
    height: 32px;
    width: 32px;
}
.fa-twitter{
    color: cyan;
}
.fa-youtube{
    color: red;
}
.fa-instagram{
    color:rgb(253, 125, 40);
}
.fa-facebook{
    color: blue;
}
.football-logo img{
    width: 490px;
    height: 110px;
    position: relative;
    right: 100px;
}
.copyright{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 60px;
}
/*--------------------
media query start
----------------------*/
/* mobile style */
@media only screen and (max-width:688px) {
    body{
        padding-left: 3px;
    }
    .container{
        display: flex;
        flex-direction: column;
        position: relative;
        left: 50%;
    }
    header{
        width: 360px;
        height: 695px;
    }
    .section-text{
        font-size: 36px;
        position: relative;
        right: 20px;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        position: relative;
        right: 165px;
    }
    .player{
        width: 330px;
        height: 474px;
    }
    .player-info{
        text-align: justify;
        padding-right: 50px;
    }
    .copa-america{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .copa-info h1{
        font-size: 30px;
        
    }
    .watch-live{
        padding-left: 19px;
        position: relative;
        bottom: 20px;
        right: 100px;
    }
    .section-title{
        position: relative;
        bottom: 10px;
    }
    .banner-img img{
        width: 329px;
        height: 259px;
        position: relative;
        bottom: 80px;
        right: 280px;
    }
    
    .flexible-container{
        display: none;
    }
    .football-logo img{
        width: 150px;
        height: 63px;
        position: relative;
        left: 10px;
    }
    .social-media-icon{
        position: relative;
        right: 100px;
    }
}